.header {
  height: 100vh;
  //position: relative;
}
.header__inner {
  background-image: url(../image/F2488E76-7349-456E-B1C0-953CD0B40860.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header__tittle {
  font-size: 4rem;
  color: $wite;
  text-transform: uppercase;
  font-weight: 700;
}
.header__deskription {
  font-size: 3rem;
  color: $wite;
  text-transform: capitalize;
  font-weight: 400;
  & .span-m {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #9114ff 0%, #da22ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  & .span-p {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #da22ff 0%, #4c47ecda 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  & .span-k {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #4c47ecda 1%, #22d6ff 99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.future__batton {
  margin-top: 13rem;
}
.shop {
  cursor: pointer;
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  border-radius: 4px;
  padding: 15px 50px;
  position: relative;
  text-transform: capitalize;
  font-size: 1.6rem;
  transition: all 0.4s;
  & a {
    position: relative;
    z-index: 2;
    color: $wite;
    text-decoration: none;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fc5c7d;
    transition: all 0.35s;
    border-radius: 4px;
  }
  &:hover {
    color: $wite;
  }
  &:hover::after {
    width: 100%;
  }
}
.no-active--batton {
  display: none;
}
.comming-soon {
  background-color: #da22ff;
  background-image: linear-gradient(to right, #190ca8 0%, #ff2277 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 13rem;
  text-transform: capitalize;
}

@media screen and(max-width:650px) {
  .header__tittle {
    font-size: 2.5rem;
  }
  .header__deskription {
    font-size: 1.5rem;
  }
  .shop {
    font-size: 1rem;
  }
}
