.aboutus__inner {
  padding-top: 100px;
  background-color: #a0418584;
  height: 100%;
  background-attachment: fixed; }

.block__header {
  text-align: center;
  font-size: 3.2rem;
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2rem; }
  .block__header::after {
    content: '';
    width: 5rem;
    height: 4px;
    border-bottom: 1px solid #980404;
    border-top: 1px solid #980404;
    position: absolute;
    bottom: -25px;
    left: 47%; }

.aboutus__content {
  margin: 7rem 0;
  display: flex; }

.aboutus__description {
  width: 40%;
  padding-right: 6rem;
  display: block; }

.aboutus__pic {
  width: 60%;
  padding-left: 3.2rem; }
  .aboutus__pic img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(84, 89, 95, 0.1); }

.aboutus__description--header {
  font-size: 2.5rem;
  font-weight: 400; }

.aboutus__description--text {
  text-align: justify;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 300;
  display: block; }

.aboutus__description--btn {
  text-align: center; }

.r {
  border-radius: 40px;
  overflow: hidden; }
