@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;1,700&family=Lato:ital,wght@0,700;1,300;1,400&display=swap");
html {
  font-size: 15px; }

body {
  font-family: 'Exo', sans-serif;
  margin: 0;
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.conteiner {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto; }

.header {
  height: 100vh;
  position: relative; }

.header__inner {
  background-image: url(../image/F2488E76-7349-456E-B1C0-953CD0B40860.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.header__tittle {
  font-size: 4rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700; }

.header__deskription {
  font-size: 3rem;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 400; }
  .header__deskription .span-m {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #9114ff 0%, #da22ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .header__deskription .span-p {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #da22ff 0%, #4c47ecda 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .header__deskription .span-k {
    background-color: #da22ff;
    background-image: linear-gradient(to right, #4c47ecda 1%, #22d6ff 99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }

.future__batton {
  margin-top: 13rem; }

.shop {
  cursor: pointer;
  background: #fc5c7d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 4px;
  padding: 15px 50px;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.4s; }
  .shop a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none; }
  .shop::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fc5c7d;
    transition: all 0.35s;
    border-radius: 4px; }
  .shop:hover {
    color: #ffffff; }
  .shop:hover::after {
    width: 100%; }

.lenguage {
  padding-top: 3rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end; }

.lenguage__list {
  display: flex;
  align-items: center; }

.lenguage__item {
  padding-right: 1rem;
  list-style: none; }

.translate {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear; }
  .translate:hover {
    transform: translateY(-5px); }

.navbar {
  background: #c39695;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1, 2rem;
  position: sticky;
  top: 0;
  z-index: 999; }

.navbar__conteiner {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1500px; }

#navbar__logo {
  color: #3a4ba1;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem; }

.navbar__menu {
  padding-left: 0;
  display: flex;
  align-items: center;
  list-style: none; }

.navbar__item {
  height: 80px; }

.navbar__links {
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 125px;
  height: 100%; }
  .navbar__links:hover {
    color: #3a4ba1;
    transition: all 0.3s ease; }

@media screen and (max-width: 960px) {
  .navbar__conteiner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1500px; }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    z-index: -1;
    transition: all 0.5s ease; }
    .navbar__menu.active {
      background: #c39695;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 80vh;
      font-size: 1rem; }
  #navbar__logo {
    padding-left: 50px; }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white; }
  .navbar__item {
    width: 100%; }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table; }
  .navbar__btn {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%); }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer; }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0; }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); } }

.aboutus {
  height: 100vh; }

.aboutus__inner {
  padding-top: 100px;
  background-color: #be2a91b3;
  height: 100%;
  background-attachment: fixed; }

.aboutus__header {
  text-align: center;
  font-size: 3rem;
  position: relative;
  font-weight: 500; }
  .aboutus__header::after {
    content: '';
    width: 5rem;
    height: 2px;
    background-color: #980404;
    position: absolute;
    bottom: -5px;
    left: 48%; }

.aboutus__content {
  display: flex;
  margin: 7rem; }

.aboutus__description {
  width: 50%; }

.aboutus__pic {
  width: 50%;
  padding-left: 3.2rem; }
