.modal-about {
  margin: 1rem;
  margin-top: 5rem; }

.modal-about__header {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center; }

.modal-about__inner {
  display: flex; }

.inner__description {
  width: 40%; }

.modal-about__img {
  width: 60%; }
  .modal-about__img img {
    display: block;
    max-width: 100%;
    height: auto; }

.modal-about__text {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  text-align: justify;
  padding-right: 1rem;
  border-top: 2ps; }
