.services__inner {
  padding-top: 100px;
  padding-bottom: 100px; }

.services__content {
  display: flex;
  margin: 7rem 0;
  flex-wrap: wrap; }

.content__servic {
  width: 33.3333%;
  padding: 1rem; }

.content__pic {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px; }

.content__description {
  margin-top: 150px; }
  .content__description.m {
    margin-top: 0;
    margin-bottom: 150px; }
  .content__description.k {
    margin-top: 50px; }
