.aboutus {
  //background-color: #be2a91b3;

  //height: 100%;
}
.aboutus__inner {
  padding-top: 100px;
  background-color: $backround;
  height: 100%;
  background-attachment: fixed;
  padding-bottom: 100px;
}
.block__header {
  text-align: center;
  font-size: 3.2rem;
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2rem;
  transform: translate(0px, 120px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  &::after {
    content: '';
    width: 5rem;
    height: 4px;
    //background-color: rgb(152, 4, 4);
    border-bottom: 1px solid #980404;
    border-top: 1px solid #980404;
    position: absolute;
    bottom: -25px;
    left: 47%;
  }
  &._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
  }
}

.aboutus__content {
  margin-top: 7rem;
  //padding-left: 1rem;

  display: flex;
}
.aboutus__description {
  width: 40%;
  padding-right: 6rem;

  display: block;
}
.aboutus__pic {
  width: 60%;
  //height: 120px;
  padding-left: 3.2rem;
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  & img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(84, 89, 95, 0.1);
  }
  &._active{
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0s;
  }
}
.aboutus__description--header {
  font-size: 2.5rem;
  font-weight: 500;
  transform: translate(0px, 120px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  &._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
  }
}
.aboutus__description--text {
  text-align: justify;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 300;
  display: block;
  & p {
    transform: translate(0px, 120px);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.4s;
    }
  }
}
.aboutus__description--btn {
  text-align: center;
}
.r {
  border-radius: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1125px) {
  .aboutus__content {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .aboutus__description,
  .aboutus__pic {
    width: 100%;
  }
  .aboutus__description {
    padding: 3.2rem;
  }
  .aboutus__description--header {
    font-size: 30px;
  }
  .aboutus__pic {
    padding: 3.2rem;
    & img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 900px) {
  .block__header {
    font-size: 34px;
    font-weight: 500;
  }
}
@media screen and (max-width: 700px) {
  .block__header {
    font-size: 30px;

    &::after {
      left: 45%;
    }
  }
}
@media screen and (max-width: 600px) {
  .aboutus__description,
  .aboutus__pic {
    padding: 1.2rem;
  }
}
