.gallery__inner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #a0418584;
  height: 100%;
  background-attachment: fixed;
}
.gallery__content {
  display: flex;
  margin: 7rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.content__picture--backrount {
  width: 32%;
  margin: 0.5rem;
}
.content__picture {
  border-radius: 20px;

  overflow: hidden;
  box-shadow: 0 0 20px rgba($black, $alpha: 0.25);
  & img {
    display: block;
    max-width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1);
    }
  }
}
@media screen and (max-width: 1160px) {
  .content__picture--backrount {
    width: 48%;
  }
}
@media screen and (max-width: 780px) {
  .content__picture--backrount {
    width: 47%;
  }
}
@media screen and (max-width: 670px) {
  .content__picture--backrount {
    width: 100%;
  }
}
