.services {
  height: 100%;
  position: relative;
}
.services__inner {
  background-image: url(../image/back_services.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.services__content {
  display: flex;
  margin: 7rem 0;
  flex-wrap: wrap;
}
.content__servic {
  width: 33.3333%;
  padding: 1rem;
}
.content__pic {
  display: block;
  max-width: 100%;
  height: auto;
  //width: 360px;
  //height: 360px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba($black, $alpha: 0.25);
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 0 25px rgba($black, $alpha: 0.25);
  }
}
.content__description {
  margin-top: 100px;
  &.m {
    margin-top: 0;
    margin-bottom: 150px;
  }
  &.k {
    margin-top: 20px;
  }
  & h3 {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 2.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #2a2d2f;
  }
}
.deskription__text {
  text-align: center;
  font-size: 1.2rem;
  color: #767474;
  font-weight: 500;
  line-height: 1.6em;
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  .content__description {
    & h3 {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 750px) {
  .services__content {
    flex-direction: column;
    gap: 20px;
  }
  .content__servic {
    width: 100%;
  }
  .content__pic {
    width: 100%;
  }
  .pedik {
    display: flex;
    flex-direction: column-reverse;
  }
  .content__description {
    margin-top: 25px;
  }
  .content__description {
    &.m {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
}
